body{
    color: blue;
    display: flex; 
    align-items: center;
    height: 50vh;
}

.parent{
    height: 400px;
    width:  300px;
    color: none;
    border: 1px solid blue;
    margin: 0 auto;
    display: flex; 
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50vh;
    margin-bottom: 50vh;
    
}
.child{
    height: 350px;
    width:  220px;
    color: none;
    border: 1px solid darkblue;
    margin: auto;
    ;
}
p{
    /* float: left; */
    display: none;
}